body{
    /* overflow: hidden; */
}
.mainBackground{
    background-color: rgb(238, 238, 238);
    border-radius: 2%;
    height: calc(100vh - 100px);
}
.leftContainer{
    height:calc(100vh - 234px);
    overflow-y: auto;
    position: relative;
    top: 0.2%;
}
.floatSubmit{
    position: fixed;
    top: 83%;
    left: 51%;
}
.rightContainer{
    position: relative;
    top: 5%;
}
.rightContainerChild{
    height:calc(100vh - 250px);
    overflow-y: auto;
    margin-top:2%;
}
.container .btn
.btn:focus{
    box-shadow: none;
}
.card-header{cursor: pointer;}
.btn-primary{margin-top:2%}
.AddNew_section{
    margin-top:1%;
    margin-bottom: 1%;
}
.AddNew_section .btn{border-radius: 0px;}
.activeDropdown{background-color: #DFE6E9;}
.basic-panel{background-color: rgba(0,0,0,.03); border-color: rgba(0,0,0,.03);}
.pd-btm-pt5{padding-bottom: 0.5%;}

